/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS START */

html{
    background-color: rgba(122, 191, 191, .5);
}

body{
    width: 414px;
    margin: 0 auto;
    background-color: #f2f2f2;
    font-family: 'Bebas Neue', 'Montserrat', sans-serif;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
    visibility: hidden;
    height: 1px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

nav a, nav span, menu li, footer, #social{
    font-size: 20px;
}

p, dd, li, nav, input{
    font-family: 'Montserrat';
    font-size: 16px;
}

dt{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
}
footer h3{
    height: 1px;
}

/* HEADER STYLES */

header{
    margin: auto;
}

header h1{
    padding-top: 160px;
    margin: auto;
    text-align: center;
}

/* MENU STYLES */

menu{
    display: inline-block;
    margin: auto;
}
menu li{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: #eb5428;
    padding: 10px;
    font-size: 16px;
    font-family: 'Bebas Neue';
}

menu a{
    display: block;
}

header img{
    width: 100%;
}

header p{
    padding: 10px;
}

/* DETAILS STYLES */

#details h3{
    padding: 10px;
    text-align: center;
}

#details dl{
    padding: 10px;
    line-height: 1.5em;
}

#details dd, dt{
    display: block;
    float: left;
}
#details dt{
    padding-right: 10px;
    clear: left;
}

/* INGREDIENTS-DIRECTIONS STYLES */

#ingredients-directions{
    clear: both;
}

#ingredients-directions h3{
    padding: 10px;
    text-align: center;
}

#ingredients-list{
    padding-left: 25px;
}

#ingredients-list li{
    list-style: disc;
    line-height: 1.5em;
}

#directions-list{
    padding-left: 25px;
    padding-right: 10px;
}

#directions-list li{
    list-style: decimal;
    line-height: 1.5em;
}

/* ASIDE STYLES */

aside{
    background-color: #7abfbf;
}
aside h3{
    background-color: #7abfbf;
    text-align: center;
    padding: 10px;
}
aside h4{
    visibility: hidden;
    height: 1px;
    width: 1px;
}
aside img{
    width: 100px;
    height: 100px;
    
}
aside a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

aside dd{
    visibility: hidden;
}
.aside-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aside-grid h3{
    text-align:start;
    padding-left: 0;
    padding-top: 0;
}
.rating{
    display: flex;
}


/* NAV STYLES */

nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
    padding-top: 25px;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    overflow: hidden;
    list-style: none;
    max-height: 0;
}
nav li img {
    visibility: hidden;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: #eb5428;
}

nav li a:hover{
    color: #f2f2f2;
    background-color: #eb5428;
}
nav label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    bottom: 15px;
    left: 15px;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
nav span {
    display: block;
    position: relative;
 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}


/* FORM STYLES */
form{
    position: relative;
    bottom: 2420px;
    text-align: center;
}
form fieldset{
    visibility: hidden;
}
#search input{
    border: 1px solid #eb5428;
}
#search button{
    background-color: #eb5428;
    border: 1px solid #eb5428;
}
#search svg{
    height: 16px;
    width: 16px;
}


/* FOOTER STYLES*/
footer{
    margin: auto;
}
footer h3{
    visibility: hidden;
}
#social{
    display: inline-block;
    margin: auto;
}
#social li{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: #eb5428;
    padding: 10px;
    font-size: 16px;
    font-family: 'Bebas Neue';
}

#social a{
    display: block;
    color: #eb5428;
    text-decoration: none;
}
footer p{
    text-align: center;
    font-family: 'Bebas Neue';
}

footer img{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#copyright div{
    padding: 10px;
    text-align: center;
}

/* MEDIA */

@media screen and (min-width: 768px){
    body{
        width: 768px;
    }
    menu{
        width: 768px;
    }
    nav{
        width: 768px;
    }
    #details{
        margin: auto;
        width: 50%;
    }
    #ingredients-directions{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #medium-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #footer-flex{
        display: flex;
        flex-direction: row-reverse;
    }
    #copyright img{
    height: auto;
    }
   
   
    
  
}
@media screen and (min-width: 1280px){
    body{
        width: 1280px;
    }
    nav{
        width: 1280px;
    }
    #details{
        width: auto;
        background-color: #000;
        color: #7abfbf;
    }
    dl{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #details dl{
        height: 50px;
    }
    #medium-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .aside-grid{
        display: block;
    }
    aside img{
        height: 250px;
        width: 250px;
    }
    #footer-large{
        width: 1280px;
        display: inline-block;
    }
    #social{
        float: right;
    }
  
}